body {
    margin: 0;
    background-color: #eff6ff;
    height: 100vh;
}

#root, .App {
    height: 100%;
}

nav {
    background-color: #1e3a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > * {
    color: #bfdbfe;
    text-decoration: none;
    margin: 0 50px;
}

a, li{
    color: #bfdbfe;
    text-decoration: none;
}

li:hover {
    color: white;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    border:1px solid black;
    padding: 10px;
    color: #1e3a8a;
}

.item:hover {
    box-shadow: 5px 10px #888888;
    cursor: pointer;
}

.item img {
    max-width: 50%;
    max-height: 50%;
}

/* for the item details */
.item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92%;
}

.info {
    flex: 1;
    padding: 80px;
}

.item-details img {
    max-width: 80%;
    max-height: 80%;
    flex: 0 0 auto;
    margin: 40px;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-icon {
    height: 30px;
    width: 30px;
    background-color: #bfdbfe;
    padding: 10px;
    padding-right: 13px;
    border-radius: 50%;
}

.cart-icon:hover{
    background-color: white;
}

/* for the cart page */
.cart-items {
    display: grid;
    grid-auto-rows: 150px;
    text-align: center;
    grid-gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border:1px solid black;
    margin: 0 100px;
    padding: 10px;
}

.cart-item img{
    height: 100%;
}

.quantity {
    display: flex;
    justify-content: center;
}

.quantity > * {
    margin: 10px;
    padding: 5px;
}


.Home, .About {
    position: fixed;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

